@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: Roboto;
}
/* Header Container */
.header {
    background-color: #1F2937;
    color: white;
    border: 2px solid red;
    margin: 5px;
    display: flex;

}
.header-logo {
    border: 2px solid red;
    margin: 5px;
}

.header-body {
    border: 2px solid red;
    margin: 5px;
}
.hero-main-text {
    font-size: 48px;
    font-style: extra bold;

}

a {
    color: white;
    border: 2px solid violet;
}

/* Body Container */
.body {
    border: 2px solid blue;
    margin: 5px;
}

.body-top {
    border: 2px solid blue;
    margin: 5px;
}

.body-bottom {
    background-color: #E5E7EB;
    border: 2px solid blue;
    margin: 5px;
}

.quote-text {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
}

.thor {
    font-size: 24px;
    font-weight: bolder;
}

/* Footer Container */

.footer {
    border: 2px solid greenyellow;
    margin: 5px;
}

.call-to-action {
    border: 2px solid magenta;
    color: white;
    background-color: #3882F6;

}

.copyright {
    color: white;
    background-color: #1F2937;
    border: 2px solid greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-two {
    color: white;
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 30px;
    text-align: color;
    display: inline-block;
}