@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* dark background color (hero and footer)
#1F2937

Hero Main text (* This website is awesome)
48px extra-bold #F9FAF8

Hero Secondary text, Header Link Text
18px #E5E7EB

Header Logo Text 
24px #F9FAF8 */

* {
    color: #fff;
}
h1 {
    color: #F9FAF8;
    /* background-color: #1F2937; */
    font-size: 24px;
}

body {
    background-color: #1F2937;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    margin: 10px;

}

img {
    height: 300px;
    width: 300px;
}

.images {
    display: flex;
    justify-content: space-between;
}

.header,
.footer {
    font-size: 18px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up {
    color: white;
    background-color: blue;
    border-color: white;
    border-radius: 5px;
}

